
@media (min-width:950px) 
{  
    .section1
    {
        font-size: large;
    }

    .section2
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .allfilters
    {
        flex-direction: row;
    }

    a.filter
    {
        margin-left: 60px;
        width: auto;
    }

    footer h3
    {
        font-size: 32px;
        display: flex;
        justify-content: center;
        padding-bottom:30px ;
    }

    .footer_contener
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: larger;
    }
}
